<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Resellers Managment</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">resellers</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- /.row -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Reseller Table</h3>
            <button
              type="button"
              data-toggle="modal"
              data-target="#user-modal"
              class="card-title btn btn-primary"
              style="float: right"
              class="btn btn-primary"
              (click)="adduser()"
            >
              Create User
            </button>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table
            *ngIf="allUsers.length > 0"
              datatable
              class="row-border hover table table-hover text-nowrap"
            >
              <thead>
                <tr>
                  <th>Reseller</th>
                  <th>Contact</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Location</th>
                  <th>Status</th>
<!--                   <th>Login Status</th> -->
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of allUsers; trackBy: trackByDeviceId">
                  <td>{{ user.tenant }}</td>
                  <td>{{ user.client }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone }}</td>
                  <td>{{ user.location }}</td>
                  <td>
                    <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        [checked]="user.status == 'enabled'"
                        class="custom-control-input"
                        (change)="updateStatus(user)"
                        [id]="user.tenantid"
                      />
                      <label
                        class="custom-control-label"
                        *ngIf="user.status == 'enabled'"
                        [for]="user.tenantid"
                        >User is active</label
                      >
                      <label
                        class="custom-control-label"
                        *ngIf="user.status == 'disabled'"
                        [for]="user.tenantid"
                        >User is in active</label
                      >
                    </div>
                  </td>
                  <!-- <td>
                  <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        [checked]="user.loginstatus == 'enabled'"
                        class="custom-control-input"
                        (change)="updateLoginStatus(user)"
                        [id]="user.tenantid"
                      />
                      <label
                        class="custom-control-label"
                        *ngIf="user.loginstatus == 'enabled'"
                        [for]="user.tenantid"
                        >User is logged In</label
                      >
                      <label
                        class="custom-control-label"
                        *ngIf="user.loginStatus == 0"
                        [for]="user.tenantid"
                        >User is logged Out</label
                      >
                    </div> 
                  </td>-->
                  <td>
                    <i class="fas fa-trash" (click)="delete(user)"></i>
                    <i
                      class="fas fa-pen"
                      style="margin-left: 15px"
                      (click)="read(user)"
                      data-toggle="modal"
                      data-target="#user-modal"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="user-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="!editPopup">Add Reseller</h4>
        <h4 class="modal-title" *ngIf="editPopup">Edit Reseller</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm">
          <div class="card-body">
            <div class="form-group">
              <label for="tenant">Reseller</label>
              <input
                type="text"
                formControlName="tenant"
                class="form-control"
                [ngClass]="{ 'is-invalid': errors.includes('tenant') }"
                id="tenant"
                placeholder="Reseller"
              />
              <span
                id="userName-error"
                *ngIf="errors.includes('userName')"
                class="error invalid-feedback"
              >
                {{ formError.userName }}</span
              >
            </div>
            <div class="form-group">
              <label for="username">Contact name</label>
              <input type="text" formControlName="client" class="form-control"
                [ngClass]="{ 'is-invalid': errors.includes('tenant') }" id="tenant" placeholder="Contact Name" />
              <span id="userName-error" *ngIf="errors.includes('userName')" class="error invalid-feedback">
                {{ formError.userName }}</span>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                [ngClass]="{ 'is-invalid': errors.includes('email') }"
                id="email"
                placeholder="Email"
              />
              <span
                id="email-error"
                *ngIf="errors.includes('email')"
                class="error invalid-feedback"
                >{{ formError.email }}</span
              >
            </div>
            <div class="form-group" *ngIf="!editPopup">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': errors.includes('password') }"
                id="password"
                placeholder="Password"
              />
              <span
                id="password-error"
                *ngIf="errors.includes('password')"
                class="error invalid-feedback"
                >{{ formError.password }}</span
              >
            </div>
            <div class="form-group" *ngIf="!editPopup">
              <label for="password">Password Confirmation</label>
              <input
                type="password"
                formControlName="password_confirmation"
                class="form-control"
                [ngClass]="{
                  'is-invalid': errors.includes('password_confirmation')
                }"
                id="password_confirmation"
                placeholder="password_confirmation"
              />
              <span
                id="password_confirmation-error"
                *ngIf="errors.includes('password_confirmation')"
                class="error invalid-feedback"
                >{{ formError.password_confirmation }}</span
              >
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                type="phone"
                formControlName="phone"
                class="form-control"
                [ngClass]="{ 'is-invalid': errors.includes('phone') }"
                id="phone"
                placeholder="Phone"
              />
              <span
                id="phone-error"
                *ngIf="errors.includes('phone')"
                class="error invalid-feedback"
                >{{ formError.phone }}</span
              >
            </div>
                        <div class="form-group">
                          <label for="location">Location</label>
                          <input type="location" formControlName="location" class="form-control"
                            [ngClass]="{ 'is-invalid': errors.includes('phone') }" id="location" placeholder="Location" />
                          <span id="location-error" *ngIf="errors.includes('location')" class="error invalid-feedback">{{ formError.location }}</span>
                        </div>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" #closeModal data-dismiss="modal">
          Close
        </button>
        <button type="button" *ngIf="!editPopup"  (click)="create()" class="btn btn-primary">
          Create
        </button>
        <button type="button" *ngIf="editPopup" [disabled]="formSubmissionFlag" (click)="update()" class="btn btn-primary">
          <div class="spinner-border text-light spinner" *ngIf="formSubmissionFlag"></div>
          Save changes
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
