<div class="component-container" style="min-height: 207px;">
  <div class="card shadow-sm">
    <div class="card-header d-flex align-items-center justify-content-between">


    <div class="card-body">
      <form [formGroup]="clientForm" novalidate>

        <div class="row">
          <!-- Fila 1 -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="account">Cliente</label>
              <input type="text" id="account" class="form-control" formControlName="account"
                [ngClass]="{ 'is-invalid': errors.includes('account') }" placeholder="Cliente" />
              <span id="account-error" *ngIf="errors.includes('account')" class="error invalid-feedback">
                {{ formError.account }}
              </span>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label for="username">Usuario</label>
              <input type="text" id="username" class="form-control" formControlName="username"
                [ngClass]="{ 'is-invalid': errors.includes('username') }" placeholder="Username" />
              <span id="username-error" *ngIf="errors.includes('username')" class="error invalid-feedback">
                {{ formError.username }}
              </span>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label for="name">Contacto</label>
              <input type="text" id="name" class="form-control" formControlName="name"
                [ngClass]="{ 'is-invalid': errors.includes('name') }" placeholder="Contacto" />
              <span id="name-error" *ngIf="errors.includes('name')" class="error invalid-feedback">
                {{ formError.name }}
              </span>
            </div>
          </div>
        
          <!-- Fila 2 -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="phone">Teléfono</label>
              <input type="tel" id="phone" class="form-control" formControlName="phone"
                [ngClass]="{ 'is-invalid': errors.includes('phone') }" placeholder="Teléfono" />
              <span id="phone-error" *ngIf="errors.includes('phone')" class="error invalid-feedback">
                {{ formError.phone }}
              </span>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label for="email">Correo Electrónico</label>
              <input type="email" id="email" class="form-control" formControlName="email"
                [ngClass]="{ 'is-invalid': errors.includes('email') }" placeholder="Correo Electrónico" />
              <span id="email-error" *ngIf="errors.includes('email')" class="error invalid-feedback">
                {{ formError.email }}
              </span>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label for="location">Localidad</label>
              <input type="text" id="location" class="form-control" formControlName="location"
                [ngClass]="{ 'is-invalid': errors.includes('location') }" placeholder="Localidad" />
              <span id="location-error" *ngIf="errors.includes('location')" class="error invalid-feedback">
                {{ formError.location }}
              </span>
            </div>
          </div>
        
          <!-- Fila 3 -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="plan">Plan</label>
              <input type="text" id="plan" class="form-control" formControlName="plan"
                [ngClass]="{ 'is-invalid': errors.includes('plan') }" placeholder="Plan" />
              <span id="plan-error" *ngIf="errors.includes('plan')" class="error invalid-feedback">
                {{ formError.plan }}
              </span>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label for="expiration">Expiración</label>
              <div class="input-group">
                <input class="form-control" id="expiration" name="expiration" placeholder="{{ clientForm.value?.expiration }}"
                  ngbDatepicker #expPicker="ngbDatepicker" formControlName="expiration" [(ngModel)]="model"
                  (dateSelect)="onDateSelect($event)" />
                <button class="btn btn-outline-secondary bi bi-calendar3" type="button" (click)="expPicker.toggle()"></button>
              </div>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label for="lastpayment">Último pago</label>
              <div class="input-group">
                <input class="form-control" id="lastpayment" name="lastpayment"
                  placeholder="{{ clientForm.value?.lastpayment }}" ngbDatepicker #payPicker="ngbDatepicker"
                  formControlName="lastpayment" [(ngModel)]="model" (dateSelect)="onDateSelect($event)" />
                <button class="btn btn-outline-secondary bi bi-calendar3" type="button" (click)="payPicker.toggle()"></button>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="obs">Observaciones</label>
              <textarea id="obs" class="form-control" formControlName="obs"
                [ngClass]="{ 'is-invalid': errors.includes('obs') }" placeholder="Observaciones"></textarea>
              <span id="obs-error" *ngIf="errors.includes('obs')" class="error invalid-feedback">{{ formError.obs
                }}</span>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!--div class="card-footer d-flex justify-content-between">
      <button type="button" class="btn btn-outline-secondary" (click)="clearForm()">Cerrar</button>

      <ng-container *ngIf="!editPopup">
        <button type="button" class="btn btn-primary" (click)="create()">Create</button>
      </ng-container>

      <ng-container *ngIf="editPopup">
        <button type="button" class="btn btn-primary" [disabled]="formSubmissionFlag" (click)="update()">
          <span class="spinner-border spinner-border-sm text-light me-1" *ngIf="formSubmissionFlag"></span>
          Guardar cambios
        </button>
      </ng-container>
    </div-->
  </div>
</div>